.faq-customr {

  h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0;
    border-bottom: none;
    margin-bottom: 0px;
  }

  p:first-child {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0;
    border-bottom: none;
    margin-bottom: 0px;
  }

  p {
    font-size: 18px;
    line-height: 35px;
    max-width: 100%;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 30px;

  }
}
