/* -------------------------------------------
Tab styles here */

.notification-message {
  background-color: #fff;
  border: 1px solid #9fd460;
  color: #252834;
  font-size: 13px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0.1px;
  position: absolute;
  right: 0;
  top: -82px;
  max-width:900px;
  margin: 0 auto;
}

.mesg-sucees {
  color: #9fd460;
  font-size: 16px;
}
