/* -------------------------------------------
Modal styles here */
.pop-up-body {
    background-color: $white;
    font-family: $montserrat;
    padding: 30px 15px 0;

    .head {
        h3 {
            color: $darker-blue;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 25px;
            text-transform: uppercase;
        }
        .close {
            background-color: $white;
            border: 1px solid $light-gray;
            @include size(35px, 35px);
            @include absolute(-2%, -2%, auto, auto);
            @include border-radius(50%);
            opacity: 1;
        }
    }

    .content {
        .top-part {
            margin-bottom: 30px;

            &:empty {
                display: none;
            }

            .form-row {
                margin-top: 20px;
            }
        }

        .btm-part {

            h3 {
                margin-top: 40px;
            }

            .ticket-type {
                @include justify-content(space-between);
                align-items: center;
                border-bottom: 1px solid #e1e1e1;
                padding-bottom: 8px;
                text-transform: uppercase;

                span {
                    color: $text-gray-bold;
                    font-family: $montserrat;
                    font-size: 10px;
                }
            }
        }

        .booking-info {

            @include breakpoint ($mobile) {
                .pak-name-price {
                    @include flex-basis (90px);
                    p {
                        font-size: 13px;
                    }
                }
            }

            p {
                margin-bottom: 0;
            }

            .form-control {
                height: 39px;
            }
        }
    }
    .block-name {
        margin-left: 20px;
    }
}

/* -------------------------------------------
Seat plan modal */

.Rectangular.content-area,
.RectangularTable.content-area {
    max-height: 500px;
    overflow: auto;
}

.select-seat-btn {
    margin-bottom: 0 !important;
}

@include breakpoint($tablet-portrait) {
    .Rectangular.content-area,
    .RectangularTable.content-area {
        max-height: 400px;
        overflow: auto;
    }
}

@include breakpoint($tablet) {
    .Rectangular.content-area,
    .RectangularTable.content-area {
        max-height: 420px;
        overflow: auto;
    }
}

//Inline css from Rakib bhai

.circular_table_crosshair-x {
    background: #000;
    background: none;
    border: 0;
    height: 1px;
    left: 0;
    position: absolute;
    top: 300px;
    width: 600px;
}

.circular_table_crosshair-y {
    background: #000;
    background: none;
    border: 0;
    height: 600px;
    left: 300px;
    position: absolute;
    top: 0;
    width: 1px;
}

.table_row_ul li {
    min-width: 35px;
}

.Rectangular .table_row_ul li {
    min-height: 35px;
}

//login page popup
.check-student {
    @include common-button;
}

.modal {
    @include border-radius(8px);
    .modal-header {
        background-color: #f5f5f5;
        @include border-radius(8px 8px 0 0);
        .modal-title {
            display: inline-block;
            font-weight: 600;
        }
    }

    .org-box {
        border: 1px solid #cacaca;
        margin-bottom: 25px;
        @include border-radius(8px);
        position: relative;
        input,
        label {
            float: left;
            height: 44px;
            margin: 0;
        }
        input {
            background: none;
            border: none;
            padding: 0 15px;
            width: -webkit-calc(100% - 170px);
            width: calc(100% - 170px);
        }

        input[type="email"] {
            width: 100%;
        }

        label {
            background-color: #dcdcdc;
            font-size: 13px;
            line-height: 42px;
            text-align: center;
            width: 170px;
            text-transform: none;
            @include border-radius(0 6px 6px 0);

            &.error {
                background-color: transparent;
                bottom: -50px;
                left: 0;
                font-size: 12px;
                line-height: 1;
                text-align: left;
                width: auto;
            }
        }

    }

    label {
        color: $black;
        font-family: "Raleway", sans-serif;
    }

    .center-box {
        text-align: center;
        a {
            color: $orange;
            &:hover, &:focus {
                text-decoration: none;
            }
        }

        > a {
            display: block;
            margin-bottom: 11px;
        }
    }

    .message {
        &:empty {
            display: none;
        }
        background-color: $grayish-light-blue;
        border: 1px solid $light-gray;
        font-size: 16px;
        font-weight: 500;
        padding: 15px;
        margin-top: 15px;
        text-align: center;
    }
}


