h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    margin: 15px 0!important;
}
lavel#password-error {
    color: red!important;
}
.cu_con_outer{
    width: 100%;
    background: #EDF1F5;
    padding: 35px 0;
    overflow: hidden;
}

.cu_con_inner{
    padding: 20px 45px;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;

}
.prescription_head {
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
}
.prescription_logo {
    text-align: center;
}
.prescription_logo img {
    height: 90px;
    width: 90px;
}
.prescriptions {
    overflow: scroll;
}
.prescription_head_con{
    text-align: center;
    margin-bottom: 6px;
}
.prescription_head h1 {
    margin-bottom: 8px;
}
.prescription_head p {
    line-height: 10px;
}
.prescription span{
    margin-right: 6px;
}

.prescription_section{
    margin: 20px 0;
}

.more_prescription {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    padding: 13px 45px 12px 35px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.05);
    margin-top: 2px;
}
.more_prescription_inner a {
    margin-right: 10px;
}


.prescription_footer{
    border-top: 1px solid #eee;
    padding-top: 7px;
    margin-bottom: -24px;
    margin-top: 180px;
}
.prescription_date {
    float: right;
}
select[multiple] {
    width: 100%!important;
}

.prescription_block{
    padding-bottom: 27px;
}
/**************Medicine*************/

.input.select .bootstrap-select.btn-group button,
.input.select .bootstrap-select.btn-group .wizard-config .btn-continue,
.wizard-config .input.select .bootstrap-select.btn-group .btn-continue {
    height: 23px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    margin-top: -5px;
}
.input.select .bootstrap-select.btn-group {
    background: transparent;
    margin: 0 0px;
    width: 100%!important;
}

.medicines_wrap {
    position: relative;
    float: left;
    width: 100%;
}

.medicines_wrap #addMoreMedicine, .tests_wrap #addMoreTest {
    width: 8%;
    right: 14px;
    top: 28px;
    position: absolute;
}
.increase_zindex{
    z-index: 999999;
}
button, .wizard-config .btn-continue{
    min-width: 7%!important;
}
.medicines_row .dle_medicine_btn {
    background: no-repeat;
    border: none;
    color: #000;
    position: absolute;
    top: 5px;
    left: -5px;
    height: auto;
}
.medicine_name{
    margin-right: 4px;
    padding:0px;
    width: 170px;
}
.medicine_rule{
    padding: 0px;
    width: 80px;
}
.medicines_row {
    position: relative;
    float: left;
    width: 50%;
    height: 38px;
}

/*.medicines_row:nth-child(1) .dle_medicine_btn{
   display: none;
}*/
/**************Test*************/
.tests_wrap{
    position: relative;

}
.prescription_caption {
    font-weight: bold;
}

.checkbox{
    width: auto!important;
    height: auto!important;
}
.form-row{
 margin-bottom: 0px!important;
}
.diagnosis_list ul {
    width: 100%;
    float: left;
    padding-left: 0px;
}
.diagnosis_list ul li {
    list-style: none;
    float: left;
}
.workspace-body input[type=checkbox] {
    height: 13px;
    margin-left: -20px;
    margin-top: 6px;
}
.form-group .required{
    color: #ff0000;
}
.current-item{
    color: #3cc2bb;
    text-decoration: underline;
}

.diagnosis_section {
    margin-top: -40px;
}

.mobile_width {
    width: 240px;
}

.age_width {
    width: 50px;
}
.address_width {
    width: 154px;
}
.temp_width {
    width: 208px;
}
.bp_width {
    width: 262px;
}
.tokenize > .tokens-container {
    position: relative;
    list-style: none;
    padding: 0 0 0px 0px;
    cursor: text;
    height: 23px;
}

.patient_info_section input, .medicines input, select{
    height: 23px;
}
.patient_info_section h6{
    color: #fff;
}
.patient_info_section label{
    color: #000;
    font-size: 12px;
}
.patient_details span.bs-caret, .medicines span.bs-caret {
    /* margin-top: 18px; */
    position: absolute;
    top: 1px;
}
.patient_details .input.select .bootstrap-select.btn-group button,
.input.select .bootstrap-select.btn-group
.wizard-config .btn-continue, .wizard-config
.input.select .bootstrap-select.btn-group .btn-continue{
    width: 236px !important;
    margin-bottom: 4px;
}
.medicines .dropdown-menu{
    position: static!important;
    float: none;
}
.medicines_section #addMoreMedicine {
    width: 12px;
    position: absolute;
    right: 23px;
    top: 22px;
    background: no-repeat;
    border: none;
    font-size: 27px;
}
.dropdown-menu{
    padding: 0px;
}
.single_block {
    background: #fff;
    padding: 6px;
    border-radius: 5px;
    height: 97px;
}
.prescriptions ul {
    padding: 0px;
    margin-bottom: 0px;
}
.prescriptions ul li {
    list-style: none;
    padding: 0px;
}
.left_side h6,.right_side h6{
    color: #fff;
}
.left_side textarea,.right_side textarea{
    width: 100%;
    border-radius: 5px;
    height: 125px;
}
.left_side {
    background: #1379AD;
    padding: 8px;
    margin-top: 12px;
    width: 100%;
    float: left;
}
.right_side {
    background: #119A55;
    padding: 8px;
    margin-top: 12px;
    width: 100%;
    float: left;
}
.diagnosis_info,.examinations,.medicines {
    background: #fff;
    border-radius: 5px;
    height: 125px;
    padding: 5px;
    overflow: scroll;
}
.prescription_button_section {
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 60px;
}
.prescription_button_section button{
    width: auto;
    margin-right: 21px;
}

.prescription_button_section .btn{
    float: left;
}

.examinations .tokenize > .tokens-container{
    border: none;
}
.medicines .tokenize > .tokens-container{
    border: none;
}
.doctors_note textarea{
    height: 97px;
}
.examinations .tokenize.focus > .tokens-container{
    outline: 0;
    border:none ;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.medicines .tokenize.focus > .tokens-container{
    outline: 0;
    border:none ;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.examinations .tokenize > .tokens-container > .token {
    background-color: #1379AD!important;
    color: #fff;
    border-radius: 5px!important;
}
.medicines .tokenize > .tokens-container > .token {
    background-color: #119A55!important;
    color: #fff;
    border-radius: 5px!important;
}

.medicines .input.select .bootstrap-select.btn-group button,
.input.select .bootstrap-select.btn-group
.wizard-config .btn-continue, .wizard-config
.input.select .bootstrap-select.btn-group .btn-continue{
    width: 100%!important;
}
select#user-id,.patient_name_width {
    width: 236px;
    border: 1px solid #dde3e5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
    padding-left: 15px;
}
.workspace .footer{
    height: 55px;
}
div#patient_drop_down,div#patient_field,.single_block .inputs {
    display: inline-block;
}
/**********Responsive**********/

@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 991px) {
    .medicines_row .dle_medicine_btn {
        width: 59px!important;
        margin-top: 27px;
        margin-left: -26px;
    }
}
@media only screen and (max-width: 767px) {
    .input.select .bootstrap-select.btn-group button,
    .input.select .bootstrap-select.btn-group .wizard-config .btn-continue,
    .wizard-config .input.select .bootstrap-select.btn-group .btn-continue,
    .bootstrap-select.btn-group .dropdown-menu {
        width: 95% !important;
    }
    .bootstrap-select.btn-group .dropdown-menu{
        min-width: 10%;
    }
    .medicines_wrap #addMoreMedicine, .tests_wrap #addMoreTest {
        width: 17%;
        right: 16px;
        top: 28px;
        position: absolute;
    }
    .medicine_width,.test_width {
        width: 79%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .medicines_row .dle_medicine_btn {
        position: absolute;
        top: -202px!important;
        right: 12px!important;
        width: 18%!important;
    }

}
@media only screen and (max-width: 555px) {
    .medicines_wrap #addMoreMedicine, .tests_wrap #addMoreTest {
        right: -5px;
    }
    .medicines_row .dle_medicine_btn {
        right: -5px!important;
    }
}
@media only screen and (max-width: 320px) {

}



