h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    margin: 15px 0!important;
}
.cu_con_outer{
    width: 100%;
    background: #ffffff;
    padding: 35px 0;
}

.cu_con_inner{
    padding: 20px 15px;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 3px;

}
.prescription_head {
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
}
.prescription_logo {
    text-align: center;
}
.prescription_logo img {
    height: 90px;
    width: 90px;
}
.prescription_head_con{
    text-align: center;
    float: left;
    margin-bottom: 6px;
}
.prescription_head h1 {
    margin-bottom: 8px;
}
.prescription_head p {
    line-height: 10px;
}
.prescription span{
    margin-right: 6px;
}

.prescription_section{
    margin: 20px 0;
}


.prescription_footer{
    border-top: 1px solid #eee;
    padding-top: 7px;
    margin-bottom: -24px;
}
.date {
    float: right;
}



/**************Medicine*************/

.medicines_wrap{
    position: relative;

}

.medicines_wrap #addMoreMedicine, .tests_wrap #addMoreTest {
    width:45px!important;
    position: absolute;
    right: 67px;
    top: 28px;
}


.medicines_row .dle_medicine_btn{
    width:45px!important;
    margin-top: 27px;
    margin-left: -3px;
}
.medicines_row:nth-child(2) .dle_medicine_btn{
   display: none;
}
/**************Test*************/
.tests_wrap{
    position: relative;

}

@media print {

}

