@font-face {
    font-family: 'SolaimanLipi';
    src: url('../fonts/SolaimanLipiNormal.eot');
    src: local('SolaimanLipi'), local('SolaimanLipi'),
    url('../fonts/SolaimanLipiNormal.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SolaimanLipiNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "SolaimanLipi","Times New Roman"!important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    margin: 15px 0!important;
}
lavel#password-error {
    color: red!important;
}

.workspace{
    margin-left: 266px;
}

.cu_con_outer{
    width: 100%;
    background: #EDF1F5;
    padding: 35px 0;
    overflow: hidden;
}

.cu_con_inner{
    padding: 20px 45px;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;

}

.cu_con_inner_view1{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;

}
.view1_prescription{
    padding: 0px 15px;
}
.patient_info_area{
    border-bottom: 2px solid #000;
}
.prescription_head {
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
}
.prescription_view1_head{
    background: #00A8DC;
    border-bottom: 1px solid #000;
}
.prescription_logo {
    text-align: center;
}
.prescription_logo img {
    height: 90px;
    width: 90px;
}
.prescriptions {
    overflow: auto;
    height: 128px;
}
.prescription_head_con{
    text-align: center;
    margin-bottom: 6px;
}

.prescription_head_con_view1{
    margin-bottom: 6px;
    padding: 10px 15px;
}

.prescription_head_con_view1 p, h2, h5{
    color: #fff;
}
.view1_education{
    border: 1px solid;
    padding: 8px;
    width: 35%;
    line-height: 24px!important;
}
.prescription_head h1 {
    margin-bottom: 8px;
}
.prescription_head p {
    line-height: 10px;
}
.prescription span{
    margin-right: 6px;
}

.prescription_section{
    margin: 20px 0;
}
.doctor_note {
    border-top: 2px solid #00A8DC;
}
.patient_info_bottom{
    padding: 15px 0px;
}
.more_prescription {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    padding: 13px 45px 12px 35px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.05);
    margin-top: 2px;
}
.more_prescription_inner a {
    margin-right: 10px;
}


.prescription_footer{
    border-top: 1px solid #eee;
    padding-top: 7px;
    margin-bottom: -24px;
    margin-top: 160px;
}
.view1_cember_info p, .view1_show_time p {
    color: #000;
    line-height: 5px;
}
.view1_prescription_footer{
    margin-top: 160px;
    background: #00A8DC;
}
.signature {
    float: left;
}
.prescription_date {
    float: right;
}
select[multiple] {
    width: 100%!important;
}

.prescription_block{
    padding-bottom: 27px;
}
/**************Medicine*************/

.input.select .bootstrap-select.btn-group button,
.input.select .bootstrap-select.btn-group .wizard-config .btn-continue,
.wizard-config .input.select .bootstrap-select.btn-group .btn-continue {
    height: 23px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    margin-top: -5px;
}
.input.select .bootstrap-select.btn-group {
    background: transparent;
    margin: 0 0px;
    width: 100%!important;
}

.medicines_wrap {
    position: relative;
    float: left;
    width: 100%;
}

.medicines_wrap #addMoreMedicine, .tests_wrap #addMoreTest {
    width: 8%;
    right: 14px;
    top: 28px;
    position: absolute;
}
.increase_zindex{
    z-index: 999999;
}
button, .wizard-config .btn-continue{
    min-width: 7%!important;
}
.medicines_row .dle_medicine_btn {
    background: no-repeat;
    border: none;
    color: #000;
    position: absolute;
    top: 14px;
    left: -5px;
    height: auto;
}
.medicine_name{
    margin-right: -3px;
    padding:0px;
    width: 170px;
}
.medicine_rule{
    padding: 0px;
    width: 76px;
    margin-top: 6px;
    margin-left: 9px;
}
.medicines_row {
    position: relative;
    float: left;
}
.medicines_row .tokenize > .tokens-container > .token-search{
    margin: 0px 5px 0 0;
}
.import_btn_padding{
    margin-right: 10px;
}
.import_icon{
    font-size: 12px!important;
}

/**************Test*************/
.tests_wrap{
    position: relative;

}
.prescription_caption {
    font-weight: bold;
}

.checkbox{
    width: auto!important;
    height: auto!important;
}
.form-row{
 margin-bottom: 0px!important;
}
.diagnosis_list ul {
    width: 100%;
    float: left;
    padding-left: 0px;
}
.diagnosis_list ul li {
    list-style: none;
    float: left;
}
.workspace-body input[type=checkbox] {
    height: 13px;
    margin-left: -20px;
    margin-top: 6px;
}
.form-group .required{
    color: #ff0000;
}
.current-item{
    color: #3cc2bb;
    text-decoration: underline;
}

.diagnosis_section {
    margin-top: -40px;
}

.tokenize > .tokens-container {
    height: 88px;
    overflow: auto;
}
.medicines_row .tokenize > .tokens-container {
    height: 43px;
    overflow: auto;
    width: 173px;
}

.patient_info_section input, select{
    height: 23px;
    padding-top: 6px!important;
}
.medicines input{
    height: 28px;
}

.patient_info_section label{
    color: #000;
    font-size: 12px;
}
.patient_details span.bs-caret, .medicines span.bs-caret {
    position: absolute;
    top: 1px;
}

.last_visit_date_level{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-right: -30px;
}

.last_visit_date{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
}

.patient_details .input.select .bootstrap-select.btn-group button,
.input.select .bootstrap-select.btn-group
.wizard-config .btn-continue, .wizard-config
.input.select .bootstrap-select.btn-group .btn-continue{
    margin-bottom: 4px;
}
.medicines_section{
    position: relative;
}
.medicines .dropdown-menu{
    position: static!important;
    float: none;
}
.add_more_btn{
    padding:0px;
}
.medicines_section #addMoreMedicine {
    width: 12px;
    position: absolute;
    right: 0px;
    background: no-repeat;
    border: none;
    font-size: 25px;
    color: #333;
}
.dropdown-menu{
    padding: 0px;
}
.inputs,.input.select .bootstrap-select.btn-group button{
    width: 100%!important;
}
::placeholder{
    color: #CCCCCC!important;
}
.single_block {
    background: #EBEBEB;
    padding: 8px 8px;
    border-radius: 5px;
    min-height: 128px;
}
.prescriptions ul {
    padding: 0px;
    margin-bottom: 0px;
    background: #fff;
    height: 112px;
    padding-left: 5px;
    overflow: auto;
}
.prescriptions ul li {
    list-style: none;
    padding: 0px;
}
.pescription_panel_heading{
    font-weight: bold;
    padding: 10px 2px;
}
.add_prescription_heading{
    background: #EBEBEB!important;
}
.leftside-navigation .navigation-item:hover {
    background: #0DC3B9;
}
.diagnosis{
    color: #333;
}
.left_side h6,.right_side h6{
    color: #fff;
}
.left_side textarea,.right_side textarea{
    width: 100%;
    border-radius: 5px;
    height: 125px;
    border: none;
}
.left_side {
    background: #EBEBEB;
    padding: 8px;
    margin-top: 12px;
    width: 100%;
    float: left;
    border-radius: 5px;
    color: #333!important;
}
.examinations ul{
    height: 105px!important;
}
.right_side {
    background: #EBEBEB;
    padding: 8px;
    margin-top: 12px;
    width: 100%;
    float: left;
    border-radius: 5px;
    color: #333!important;
}
.diagnosis_info,.examinations,.medicines {
    background: #fff;
    border-radius: 5px;
    height: 125px;
    padding: 5px;
    overflow: auto;
}
.prescription_button_section {
    margin-top: 15px;
    margin-left: 15px;
}
.prescription_button_section button{
    width: auto;
    margin-right: 21px;
}

.prescription_button_section .btn{
    float: left;
}

.examinations .tokenize > .tokens-container{
    border: none;
}
.medicines .tokenize > .tokens-container{
    border: none;
}
.medicines_row .tokenize > .tokens-container{
    border: 1px solid #dde3e5;
}
.doctors_note textarea{
    min-width: 100%!important;
    border: none;
}
.examinations .tokenize.focus > .tokens-container{
    outline: 0;
    border:none ;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.navigation-item.dashboard.active{
    background: #0DC3B9!important;
}

.examinations .tokenize > .tokens-container > .token {
    background-color:#F5F5F5!important;
    border-radius: 5px!important;
}
.medicines .tokenize > .tokens-container > .token {
    background-color: #F5F5F5!important;
    color: #333;
    border-radius: 5px!important;
}

.medicines .input.select .bootstrap-select.btn-group button,
.input.select .bootstrap-select.btn-group
.wizard-config .btn-continue, .wizard-config
.input.select .bootstrap-select.btn-group .btn-continue{
    width: 100%!important;
}
select#user-id,.patient_name_width {
   /* width: 236px;*/
    border: 1px solid #dde3e5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
    padding-left: 15px;
}
.workspace .footer{
    height: 55px;
}
div#patient_drop_down,div#patient_field,.single_block .inputs {
    display: inline-block;
}

.drop_down_overlap{
    z-index: 999;
}
.medicine_box,.diagnosis_box{
    min-height: 250px;
}

.work_section{
    margin-left: 0px;
    height: auto;
}
.work_section .work_body_section .main_container_section{
    height: auto;
}

label.error {
    font-size: 12px !important;
    line-height: 1;
    margin-bottom: 0;
    color: red;
    position: static;
}
.diagnosis_info label.error{
    position: absolute;
}
.diagnosis_area .input.select .bootstrap-select.btn-group button{
    height: 43px;
    width: 100%!important;
}
.diagnosis_area .bootstrap-select.btn-group .dropdown-toggle .filter-option{
    margin-top: 0px;
}

.patient_details label.error{
    margin-bottom: 8px;
    width: 300px;
    position: absolute;
    left: 0px;
    top: 19px;
    z-index: 999;
}
.diagnosis_info label.error{
    width: 279px!important;
    max-width: none;
    padding-left: 0px;
}
.diagnosis_area .tokens-container{
    height: 43px!important;
    margin-bottom: 0px!important;
}
.profile_picture{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.preview_profile_picture{
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

.padding_right_remove{
    padding-right:0px ;
}
.leftside-navigation .navigation-item {
    padding-left: 20px;
}

.leftside-navigation .navigation-item a {
    font-size: 16px;
    color: #fff;
}
.leftside-navigation .navigation-item a .nav-icon {
    width: 40px;
}

.left-sidebar{
    width: 266px;
    background: linear-gradient(#0ECFC5, #042321);
    margin-top: -94px;
    overflow-y: hidden;
    height: calc(106vh);
}
.logo{
    text-align: center;
}
.logo h1{
    color: #fff;
}
.leftside-navigation{
    height: calc(91vh);
    overflow-y: auto;
}
.workspace-dashboard {
    margin-left: 267px;
}

.left-sidebar i {
    font-size: 23px;
}
.topbar .logo{
    background: none;
    margin-left: 17px;
}
.dropdown-menu.user-dropdown i {
    font-size: 15px;
}
.prescription_content{
    padding: 40px 21px!important;
}
/**********Responsive**********/

@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {


}
@media only screen and (max-width: 555px) {

}
@media only screen and (max-width: 320px) {

}



