/* -------------------------------------------
Footer styles here */
.footer{
    .flex-item{
        margin-right: 10px;
    }

    button{
        font-family: $lato;
        font-weight: 600;
    }
}
