.event-multiple-mngment {
    .form-control[type=color] {
        border: 3px solid $grayish-blue;
    }
}

// Ticket Type

.event-ticket-type {
    .inner-content {
        margin-bottom: 55px;

        .ticket-type-header {
            margin-bottom: 15px;

            .flex-item {
                @include flex(1);
            }
            .inline-btn-group {
                @include display-flex;
                @include flex-basis(370px);

                button {
                    margin-left: 15px;
                    height: 38px;
                    text-transform: capitalize;
                    @include breakpoint($tablet) {
                        font-size: 12px;
                    }
                }
            }
        }

        .ticket-type-table {
            background-color: $white;

            .table {
                border: 1px solid #e1eaf4;
                margin-bottom: 0;

                tbody {
                    tr {
                        &:hover {
                            background-color: transparent !important;
                        }

                        td {
                            input {
                                border: medium none;
                                box-shadow: none;

                                &:focus {
                                    background-color: #f5f5f5;
                                }
                            }
                        }
                    }
                }

                .fixed-width {
                    width: 25%;
                    text-align: center;
                    border-left: 1px solid #e1eaf4;
                }
            }

            table thead th {
                font-size: 14px;
                color: $black;
                padding: 10px 25px;
                border-bottom: 1px;
                background-color: $table-head-color;
            }

            table tbody td {
                font-size: 14px;
                font-weight: 600;
                border-color: #e1eaf4;
                color: $gray-dark;
                vertical-align: middle;
                padding: 5px 25px;
            }
        }
    }
}

// Level Wrapper

.event-ticket-level {
    margin-bottom: 40px;

    .inner-content {
        .level-title {
            margin-bottom: 25px;
        }

        .level-wrapper {
            background-color: $white;
            @include border-radius(4px);
            border: 1px solid #d6dde5;

            .level-header-part {
                h2 {
                    margin: 0;
                    color: $modarate-cyan;
                }

                button {
                    @include size(auto, auto);
                    background-color: transparent;
                    border: medium none;
                    outline: none;
                    opacity: 0.3;
                    margin-right: -40px;

                    &:hover {
                        opacity: 1;
                    }
                }

                padding: 18px 30px;
                border-bottom: 1px solid #dfe4ea;
                @include justify-content(space-between);
            }

            .level-body-content {
                padding: 32px 30px;
                border-bottom: 1px solid #dfe4ea;

                .color-set {
                    @include display-flex;
                    margin-bottom: 45px;

                    @include breakpoint($tablet) {
                        @include flex-direction(column);
                    }

                    .form-row {
                        @include flex(1);
                        margin: 0 15px;

                        @include breakpoint($tablet) {
                            margin: 8px 0;
                            width: 100%;
                        }

                        &.order-main {
                            @include flex(2);
                            width: 33%;
                            @include breakpoint($tablet) {
                                width: 100%;
                            }
                        }
                    }
                }

                .early-discount {
                    margin-bottom: 45px;

                    .form-row {
                        @include flex(1);
                        margin: 0 15px;
                        @include breakpoint($tablet) {
                            margin: 8px 0;
                            width: 100%;
                        }

                        &:first-child {
                            margin: 0;
                        }
                    }

                    .select-style:before {
                        top: 12px;
                    }

                    .input-group-addon {
                        background-color: transparent;
                        border-left: medium none;
                    }
                }

                .input-ticket-group {
                    .table {
                        border: 1px solid #e1eaf4;
                        margin-bottom: 0;

                        tbody {
                            tr {
                                &:hover {
                                    background-color: transparent !important;
                                }
                            }

                            td {
                                input {
                                    border: medium none;
                                    text-align: center;
                                    box-shadow: none;

                                    &:focus {
                                        background-color: #f5f5f5;
                                    }
                                }
                            }
                        }

                        .fixed-width {
                            width: 25%;
                            text-align: center;
                            vertical-align: middle;
                            border-left: 1px solid #e1eaf4;
                        }
                    }

                    table thead th {
                        font-size: 14px;
                        color: $black;
                        padding: 10px 25px;
                        border-bottom: 1px;
                        background-color: $table-head-color;
                    }

                    table tbody td {
                        font-size: 14px;
                        font-weight: 600;
                        border-color: #e1eaf4;
                        color: $gray-dark;
                        padding: 3px 25px;
                        @include breakpoint($tablet) {
                            padding: 4px 8px;
                        }
                    }

                }
            }

        }
    }
}

// new Level Wrapper
.event-ticket-level {
    &.level-plus {
        .inner-content {

            @include breakpoint($tablet) {
                @include flex-direction(column);
            }

            .level-wrapper {
                .level-header-part {
                    .title-head {
                        @include flex(1);

                        input {
                            border: none;
                            font-size: 16px;
                            font-weight: 600;
                            color: $black;
                            padding: 0;
                            text-transform: capitalize;

                            &:focus {
                                padding: 0 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// floating btn

.floating-button {
    position: fixed;
    top: 40%;
    left: -webkit-calc(100% - 310px);
    left: calc(100% - 310px);
    @include transform(rotate(-90deg));

    @include breakpoint ($tablet) {
        left: -webkit-calc(100% - 244px);
        left: calc(100% - 244px);
    }
}

// if no scroll

.btn-no-scroll {
    .floating-button {
        left: calc(100% - 310px);
    }
}

//browser issues
select::-ms-expand {
    display: none;
}

.content.event-multiple-mngment.seat-managemaent {
    margin-bottom: 0;
}
