.ticket-type-lbl {
    max-height: 190px;
    padding-right: 5px;
    overflow: auto;

    @include breakpoint($mobile) {
        padding-right: 0;
    }

    .ticket-price-lbl {
        @include justify-content(flex-start);
        @include align-items(flex-start);
        margin: 10px 0;

        .lbl-title {
            width: 80px;
            label {
                color: $dark-gray;
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;
                margin-right: 15px;
                margin-bottom: 0;
                line-height: 34px;
                padding-right: 15px;
            }
        }

        .list-inner-wrapper {
            @include flex(1);
            @include flex-wrap(wrap);

            .item-items {
                width: 246px;
                margin-right: 5px;
                margin-bottom: 5px;

                @include breakpoint($mobile) {
                    width: 100%;
                    margin-right: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                .inner-box {
                    @include justify-content(flex-start);
                    @include align-items(center);
                    width: 100%;
                    padding: 0 0 0 6px;
                    @include border-radius(4px);
                    border: 1px solid $light-gray;
                    position: relative;

                    &:nth-child(3n){
                        margin-right: 0;
                    }

                    p {
                        @include flex(1);
                        color: $dark-blue;
                        font-size: 11px;
                        font-weight: 500;
                        text-transform: uppercase;
                        height: 32px;
                        line-height: 32px;

                        span {
                            color: $orange;
                            text-transform: uppercase;

                            ins {
                                text-decoration: none;
                                font-size: 11px;
                                margin-left: 2px;
                            }

                            del {
                                color: gray;
                                font-size: 11px;
                                margin-left: 2px;
                            }
                        }
                    }



                    input[type=number] {
                        -moz-appearance: textfield !important;
                    }

                    .input-area {
                        @include flex-basis(35px);

                        input {
                            border: medium none;
                            padding: 0 10px 0 0;
                            @include appearance(none);

                            &:focus {
                                box-shadow: none;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

// modal csss

.header {
    .content {
        font-weight: 600;

        .top-part {
            margin-bottom: 0px;
        }
    }
}
