.user-profile-icon{
    background: #fff;
    border-radius: 50%;
    display: block;
    height: 35px;
    text-align: center;
    width: 35px;
}
.ion-custom{
    font-size:30px; line-height:35px;
}
.active-line{
    background:#f2f2f2;
    color: #616161;
}
.actions .fa {
    font-size: 20px !important;
    color: #f44336;
    margin-left: 4px !important;
}
.error{
    color: red;
}
